<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
  <category label="General">
    <setting label="Hosting" type="lsep"/>
    <setting label="Hosting preferido" type="enum" id="preffered_host" values="Pixeldrain.com|Qiwi.gg" />
    <setting label="Preguntar siempre" type="bool" id="ask_everytime" default="false" subsetting="true"/>
  </category>
</settings>